<div class="container">
  <footer class="footer"> 
   <small>
Copyright © <a href="enter in a link here">InSync Cloud</a>

by <a href="#">Adam Gladstone</a>
   </small>
  <nav>
   <ul>
     <li><%= link_to "Home", root_path %></li>
   </ul>
   </nav>
  </footer>
</div>